.loader {
    text-align: center;
    margin: 50px;
    font-size: 24px;
    color: #ffffff;
}

.leaderboard-container {
    max-width: 1200px;
    margin: 0 auto;
    color: #f0f0f0;
}

.award-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 60px;
}

.award-section {
    background-color: #282828;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.award-title {
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    text-align: center;
}

.award-description {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 20px;
}

.award-graph {
    width: 100%;
}

.leaderboard-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.team-name {
    font-weight: bold;
}

.progress-container {
    flex-grow: 1;
    margin: 0 16px;
    background-color: #333333;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #3f51b5;
    border-radius: 5px 0 0 5px;
}

.points {
    width: 80px;
    text-align: right;
    font-weight: bold;
    color: #ffffff;
}

.create-awards-button {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-awards-button:hover {
    background-color: #0056b3;
}

.leaderboard-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
